Isabelle/IsaExport.dtd

<!ELEMENT IsaExport (Imports, Consts, Axioms, Theorems, Types, Defs, Funs, Classes, Locales)>
  <!ATTLIST IsaExport file CDATA #REQUIRED>
<!ELEMENT Imports (Import*)>
<!ELEMENT Import EMPTY>
  <!ATTLIST Import name CDATA #REQUIRED>
<!ELEMENT Consts (ConstDecl*)>
<!ELEMENT ConstDecl ((TVar|TFree|Type),(Term|NoTerm))>
  <!ATTLIST ConstDecl name CDATA #REQUIRED>
<!ELEMENT Axioms (Term*)>
<!ELEMENT Theorems (Term*)>
<!ELEMENT Types (TypeDecl*)>
<!ELEMENT Defs (Def*)>
<!ELEMENT Funs (FunDef*)>
<!ELEMENT Classes (ClassDecl*)>
<!ELEMENT Locales (LocaleDecl*)>
<!ELEMENT NoTerm EMPTY>
<!ELEMENT Term (Bound|Free|Var|Const|App|Abs)>
  <!ATTLIST Term name CDATA #REQUIRED>
<!ELEMENT TypeDecl (RecType*)>
  <!ATTLIST TypeDecl name CDATA #REQUIRED>
<!ELEMENT RecType (Vars,Constructors)>
  <!ATTLIST RecType i CDATA #REQUIRED>
  <!ATTLIST RecType name CDATA #REQUIRED>
<!ELEMENT Vars (DtTFree|DtType|DtRec)*>
<!ELEMENT DtTFree EMPTY>
  <!ATTLIST DtTFree s CDATA #REQUIRED>
<!ELEMENT DtType (DtTFree|DtType|DtRec)*>
  <!ATTLIST DtType s CDATA #REQUIRED>
<!ELEMENT DtRec EMPTY>
  <!ATTLIST DtRec i CDATA #REQUIRED>
<!ELEMENT Constructors (Constructor*)>
<!ELEMENT Constructor (DtTFree|DtType|DtRec)*>
  <!ATTLIST Constructor val CDATA #REQUIRED>
<!ELEMENT Def ((TVar|TFree|Type),Arg*,(Bound|Free|Var|Const|App|Abs))>
  <!ATTLIST Def name CDATA #REQUIRED>
<!ELEMENT Arg  (TVar|TFree|Type)>
  <!ATTLIST Arg name CDATA #REQUIRED>
<!ELEMENT FunDef ((TVar|TFree|Type),FunDefEq*)>
  <!ATTLIST FunDef name CDATA #REQUIRED>
<!ELEMENT FunDefEq ((Bound|Free|Var|Const|App|Abs)*)>
<!ELEMENT ClassDecl (Axiom|Param|Parent)*>
  <!ATTLIST ClassDecl name CDATA #REQUIRED>
<!ELEMENT Axiom (Bound|Free|Var|Const|App|Abs)>
  <!ATTLIST Axiom name CDATA #REQUIRED>
<!ELEMENT Param (TVar|TFree|Type)>
  <!ATTLIST Param name CDATA #REQUIRED>
<!ELEMENT LocaleDecl (LocaleParam|IAxiom|EAxiom|Parent)*>
  <!ATTLIST LocaleDecl name CDATA #REQUIRED>
<!ELEMENT Parent EMPTY>
  <!ATTLIST Parent name CDATA #REQUIRED>
<!ELEMENT IAxiom (Bound|Free|Var|Const|App|Abs)>
  <!ATTLIST IAxiom name CDATA #REQUIRED>
<!ELEMENT EAxiom (Bound|Free|Var|Const|App|Abs)>
  <!ATTLIST EAxiom name CDATA #REQUIRED>
<!ELEMENT LocaleParam (TVar|TFree|Type)>
  <!ATTLIST LocaleParam name CDATA #REQUIRED>
  <!ATTLIST LocaleParam infix CDATA #IMPLIED>
  <!ATTLIST LocaleParam infixl CDATA #IMPLIED>
  <!ATTLIST LocaleParam infixr CDATA #IMPLIED>
  <!ATTLIST LocaleParam mixfix_i CDATA #IMPLIED>
<!ELEMENT Bound EMPTY>
  <!ATTLIST Bound index CDATA #REQUIRED>
<!ELEMENT Free (TVar|TFree|Type)>
  <!ATTLIST Free name CDATA #REQUIRED>
<!ELEMENT Var (TVar|TFree|Type)>
  <!ATTLIST Var name CDATA #REQUIRED>
  <!ATTLIST Var index CDATA #IMPLIED>
<!ELEMENT Const (TVar|TFree|Type)>
  <!ATTLIST Const name CDATA #REQUIRED>
  <!ATTLIST Const infix CDATA #IMPLIED>
  <!ATTLIST Const infixl CDATA #IMPLIED>
  <!ATTLIST Const infixr CDATA #IMPLIED>
  <!ATTLIST Const mixfix_i CDATA #IMPLIED>
<!ELEMENT App ((Bound|Free|Var|Const|App|Abs), (Bound|Free|Var|Const|App|Abs))>
<!ELEMENT Abs ((TVar|TFree|Type), (Bound|Free|Var|Const|App|Abs))>
  <!ATTLIST Abs vname CDATA #REQUIRED>
<!ELEMENT TVar (class*)>
  <!ATTLIST TVar name CDATA #REQUIRED>
  <!ATTLIST TVar index CDATA #IMPLIED>
<!ELEMENT TFree (class*)>
  <!ATTLIST TFree name CDATA #REQUIRED>
<!ELEMENT Type (TVar|TFree|Type)*>
  <!ATTLIST Type name CDATA #REQUIRED>
<!ELEMENT class EMPTY>
  <!ATTLIST class name CDATA #REQUIRED>
