OWL/tests/BravoAirGrounding.wsdl

<?xml version="1.0"?>
  <definitions name="BravoAir_WSDL"
    targetNamespace="http://www.daml.org/services/owl-s/1.0/BravoAirGrounding.wsdl"
    xmlns:tns="http://www.daml.org/services/owl-s/1.0/BravoAirGrounding.wsdl"
    xmlns:BravoAir="http://www.daml.org/services/owl-s/1.0/BravoAirProcess.owl"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="http://schemas.xmlsoap.org/wsdl/">


<!-- Definition of messages --> 

    <!-- Messages for GetDesiredFlightDetails --> 

    <message name="GetDesiredFlightDetails_Input">
      <part name="departureAirport" owl-s-parameter="BravoAir:#departureAirport_In"/>
      <part name="arrivalAirport" owl-s-parameter="BravoAir:#arrivalAirport_In"/>
      <part name="outboundDate" owl-s-parameter="BravoAir:#outboundDate_In"/>
      <part name="inboundDate" owl-s-parameter="BravoAir:#inboundDate_In"/>
      <part name="roundTrip" owl-s-parameter="BravoAir:#roundTrip_In"/>
    </message>

    <!-- Messages for SelectAvailableFlight --> 
    
    <message name="SelectAvailableFlight_Input">
      <part name="preferredFlightItinerary" owl-s-parameter="BravoAir:#preferredFlightItinerary_In"/>
    </message>
    
    <message name="SelectAvailableFlight_Output">
      <part name="availableFilghtItineraryList" owl-s-parameter="BravoAir:#availableFilghtItineraryList_Out"/>
    </message>


    <!-- Messages for ConfirmReservation --> 

    <message name="ConfirmReservation_Input"> 
      <part name="reservationID_In" owl-s-parameter="BravoAir:#reservationID_In"/> 
      <part name="confirm" owl-s-parameter="BravoAir:#confirm_In"/> 
    </message> 
    
    <message name="ConfirmReservation_Output"> 
      <part name="preferredFlightItinerary" owl-s-parameter="BravoAir:#preferredFlightItinerary_Out"/> 
      <part name="acctName" owl-s-parameter="BravoAir:#acctName_Out"/> 
      <part name="reservationID_Out" owl-s-parameter="BravoAir:#reservationID_Out"/> 
    </message> 

    <!-- Messages for LogIn --> 
    
    <message name="LogIn_Input">
      <part name="acctName" owl-s-parameter="BravoAir:#acctName_In"/>
      <part name="password" owl-s-parameter="BravoAir:#password_In"/>
    </message>

    
<!-- Ports Definitions --> 

    <!-- Port specification for GetDesiredFlightDetails -->

    <portType name="GetDesiredFlightDetails_PortType">
      <operation name="GetDesiredFlightDetails_operation" owl-s-process="BravoAir:#GetDesiredFlightDetails">
        <input message="tns:GetDesiredFlightDetails_Input"/>
      </operation>
    </portType>

    
    <!-- Port specification for SelectAvailableFlight -->
    
    <portType name="SelectAvailableFlight_PortType">
      <operation name="SelectAvailableFlight_operation" owl-s-process="BravoAir:#SelectAvailableFlight">
        <input message="tns:SelectAvailableFlight_Input"/>
        <output message="tns:SelectAvailableFlight_Output"/>
      </operation>
    </portType>


    <!-- Port specification for LogIn -->
    
    <portType name="LogIn_PortType">
      <operation name="LogIn_operation" owl-s-process="BravoAir:#LogIn">
        <input message="tns:LogIn_Input"/>
      </operation>
    </portType>

    <!-- Port specification for ConfirmReservation -->
    
    <portType name="ConfirmReservation_PortType">
      <operation name="ConfirmReservation_operation" owl-s-process="BravoAir:#ConfirmReservation">
        <input message="tns:ConfirmReservation_Input"/>
        <output message="tns:ConfirmReservation_Output"/>
      </operation>
    </portType>



<!-- Definition of Bindings -->  

    <!-- Binding specification for GetDesiredFlightDetails -->

    <binding name="GetDesiredFlightDetails_SoapBinding" type="tns:GetDesiredFlightDetails_PortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="GetDesiredFlightDetails_operation">
        <soap:operation soapAction="tns:GetDesiredFlightDetails"/>
        <input>
          <soap:body 
	    parts="departureAirport arrivalAirport outboundDateinboundDate roundTrip"
	    use="encoded"
	    namespace="http://www.daml.org/services/owl-s/1.0/BravoAirService.owl"/>
        </input>
      </operation>
    </binding> 

    <!-- Binding specification for SelectAvailableFlight -->
    
    
    <binding name="SelectAvailableFlight_SoapBinding" type="tns:SelectAvailableFlight_PortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="SelectAvailableFlight_operation">
        <soap:operation soapAction="tns:SelectAvailableFlight"/>
        <input>
          <soap:body 
	    parts="preferredFlightItinerary" 
	    use="encoded"
	    namespace="http://www.daml.org/services/owl-s/1.0/BravoAirService.owl"/>
        </input>
        <output>
          <soap:body 
	    parts="availableFilghtItineraryList" 
	    use="encoded"
	    namespace="http://www.daml.org/services/owl-s/1.0/BravoAirService.owl"/>
        </output>
      </operation>
    </binding>
    
    <!-- Binding specification for ConfirmReservation -->
    
    <binding name="ConfirmReservation_SoapBinding " type="tns:ConfirmReservation_PortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="ConfirmReservation_operation">
        <soap:operation soapAction="tns:ConfirmReservation"/>
        <input>
          <soap:body 
	    parts="acctName password" 
	    use="encoded"
	    namespace="http://www.daml.org/services/owl-s/1.0/BravoAirService.owl"/>
        </input>
      </operation>
    </binding> 
    
    <!-- Binding specification for LogIn -->
    
    <binding name="LogIn_SoapBinding " type="tns:LogIn_PortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="LogIn_operation">
        <soap:operation soapAction="tns:LogIn"/>
        <input>
          <soap:body 
	    parts="acctName password" 
	    use="encoded"
	    namespace="http://www.daml.org/services/owl-s/1.0/BravoAirService.owl"/>
        </input>
      </operation>
    </binding>



<!-- Definition of Service --> 

    <service name="BravoAir_Service">
      <documentation> 
        WSDL description of the BravoAir service.  It contains 4
	ports, one for each atomic action of the service
	.
	NOTE: The addresses used are necessarily fictitious
      </documentation>

      <!-- the port for GetDesiredFlightDetails -->
      <port name="GetDesiredFlightDetails_Port" binding="tns:GetDesiredFlightDetails_SoapBinding">
        <soap:address location="http://www.BravoAir.com/GetDesiredFlightDetails"/>
      </port>

      <!-- the port for SelectAvailableFlight -->
      <port name="SelectAvailableFlight_Port" binding="tns:SelectAvailableFlight_SoapBinding">
        <soap:address location="http://www.BravoAir.com/SelectAvailableFlight"/>
      </port>

      <!-- the port for ConfirmReservation -->
      <port name="ConfirmReservation_Port" binding="tns:ConfirmReservation_SoapBinding">
        <soap:address location="http://www.BravoAir.com/ConfirmReservation"/>
      </port>

      <!-- the port for LogIn -->
      <port name="LogIn_Port" binding="tns:LogIn_SoapBinding">
        <soap:address location="http://www.BravoAir.com/LogIn"/>
      </port>
    </service>

  </definitions>
