utils/Omdoc/examples/nocan_omdoc.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE omdoc PUBLIC "-//OMDoc//DTD OMDoc V1.1//EN" "omdoc.dtd" [
<!ELEMENT omdoc ((metadata)?, (catalogue)?, (omtext | type | assertion | alternative | example | proof | proofobject | exercise | solution | omlet | private | code | presentation | omstyle | theory | omgroup | ignore | ref | theory-inclusion | decomposition | axiom-inclusion)*) >
<!ATTLIST omdoc id CDATA #REQUIRED >
<!ATTLIST omdoc style NMTOKEN #IMPLIED >
<!ATTLIST omdoc mid CDATA #IMPLIED >
<!ATTLIST omdoc xmlns CDATA #FIXED "http://www.mathweb.org/omdoc" >
<!ATTLIST omdoc xmlns:xsi CDATA "http://www.w3.org/2001/XMLSchema-instance" >
<!ATTLIST omdoc xsi:schemaLocation CDATA "http://www.mathweb.org/omdoc/xsd/omdoc.xsd" >
<!ATTLIST omdoc type (enumeration | sequence | itemize | narrative | dataset | labeled-dataset | theory-collection) #IMPLIED >
<!ATTLIST omdoc catalogue CDATA #IMPLIED >
<!ATTLIST omdoc version CDATA #FIXED "1.1" >
<!ELEMENT catalogue (loc)* >
<!ELEMENT loc EMPTY >
<!ATTLIST loc theory CDATA #REQUIRED >
<!ATTLIST loc omdoc CDATA #IMPLIED >
<!ATTLIST loc cd CDATA #IMPLIED >
<!ELEMENT omtext ((metadata)?, (CMP)+, (FMP)?) >
<!ATTLIST omtext id CDATA #REQUIRED >
<!ATTLIST omtext style NMTOKEN #IMPLIED >
<!ATTLIST omtext mid CDATA #IMPLIED >
<!ATTLIST omtext type (abstract | introduction | conclusion | thesis | antithesis | elaboration | motivation | evidence | note | annote | comment) #IMPLIED >
<!ATTLIST omtext for CDATA #IMPLIED >
<!ELEMENT CMP (#PCDATA | OMOBJ | omlet | with | ref | ignore)* >
<!ATTLIST CMP xml:lang (aa | ab | af | am | ar | as | ay | az | ba | be | bg | bh | bi | bn | bo | br | ca | co | cs | cy | da | de | dz | el | en | eo | es | et | eu | fa | fi | fj | fo | fr | fy | ga | gd | gl | gn | gu | ha | he | hi | hr | hu | hy | ia | ie | ik | id | is | it | iu | ja | jv | ka | kk | kl | km | kn | ko | ks | ku | ky | la | ln | lo | lt | lv | mg | mi | mk | ml | mn | mo | mr | ms | mt | my | na | ne | nl | no | oc | om | or | pa | pl | ps | pt | qu | rm | rn | ro | ru | rw | sa | sd | sg | sh | si | sk | sl | sm | sn | so | sq | sr | ss | st | su | sv | sw | ta | te | tg | th | ti | tk | tl | tn | to | tr | ts | tt | tw | ug | uk | ur | uz | vi | vo | wo | xh | yi | yo | za | zh | zu) "en" >
<!ELEMENT with (#PCDATA | OMOBJ | omlet | with | ref | ignore)* >
<!ATTLIST with id ID #IMPLIED >
<!ATTLIST with style NMTOKEN #IMPLIED >
<!ATTLIST with xmlns CDATA #FIXED "http://www.mathweb.org/omdoc" >
<!ATTLIST with xmlns:xsi CDATA "http://www.w3.org/2001/XMLSchema-instance" >
<!ATTLIST with xsi:schemaLocation CDATA "http://www.mathweb.org/omdoc/xsd/omdoc.xsd" >
<!ELEMENT omgroup ((metadata)?, (symbol | axiom | definition | adt | imports | inclusion | omtext | type | assertion | alternative | example | proof | proofobject | exercise | solution | omlet | private | code | presentation | omstyle | theory | omgroup | ignore | ref)*) >
<!ATTLIST omgroup id CDATA #IMPLIED >
<!ATTLIST omgroup style NMTOKEN #IMPLIED >
<!ATTLIST omgroup mid CDATA #IMPLIED >
<!ATTLIST omgroup type (enumeration | sequence | itemize | narrative | dataset | labeled-dataset) #IMPLIED >
<!ELEMENT ref EMPTY >
<!ATTLIST ref xref CDATA #REQUIRED >
<!ATTLIST ref type NMTOKEN "include" >
<!ELEMENT symbol ((metadata)?, (CMP)*, (commonname | type | selector)*) >
<!ATTLIST symbol id CDATA #REQUIRED >
<!ATTLIST symbol style NMTOKEN #IMPLIED >
<!ATTLIST symbol mid CDATA #IMPLIED >
<!ATTLIST symbol kind (type | sort | object) "object" >
<!ATTLIST symbol scope (global | local) "global" >
<!ATTLIST symbol generated-by CDATA #IMPLIED >
<!ELEMENT commonname (#PCDATA | OMOBJ | omlet | with | ref | ignore)* >
<!ATTLIST commonname xml:lang (aa | ab | af | am | ar | as | ay | az | ba | be | bg | bh | bi | bn | bo | br | ca | co | cs | cy | da | de | dz | el | en | eo | es | et | eu | fa | fi | fj | fo | fr | fy | ga | gd | gl | gn | gu | ha | he | hi | hr | hu | hy | ia | ie | ik | id | is | it | iu | ja | jv | ka | kk | kl | km | kn | ko | ks | ku | ky | la | ln | lo | lt | lv | mg | mi | mk | ml | mn | mo | mr | ms | mt | my | na | ne | nl | no | oc | om | or | pa | pl | ps | pt | qu | rm | rn | ro | ru | rw | sa | sd | sg | sh | si | sk | sl | sm | sn | so | sq | sr | ss | st | su | sv | sw | ta | te | tg | th | ti | tk | tl | tn | to | tr | ts | tt | tw | ug | uk | ur | uz | vi | vo | wo | xh | yi | yo | za | zh | zu) "en" >
<!ATTLIST commonname mid CDATA #IMPLIED >
<!ELEMENT type ((CMP)*, OMOBJ) >
<!ATTLIST type id CDATA #IMPLIED >
<!ATTLIST type style NMTOKEN #IMPLIED >
<!ATTLIST type mid CDATA #IMPLIED >
<!ATTLIST type for CDATA #IMPLIED >
<!ATTLIST type system NMTOKEN #REQUIRED >
<!ELEMENT FMP (((assumption)*, (conclusion)*) | OMOBJ) >
<!ATTLIST FMP logic NMTOKEN #IMPLIED >
<!ATTLIST FMP mid CDATA #IMPLIED >
<!ELEMENT assumption ((CMP)*, (OMOBJ)?) >
<!ATTLIST assumption id CDATA #REQUIRED >
<!ATTLIST assumption style NMTOKEN #IMPLIED >
<!ATTLIST assumption mid CDATA #IMPLIED >
<!ELEMENT conclusion ((CMP)*, (OMOBJ)?) >
<!ATTLIST conclusion id CDATA #REQUIRED >
<!ATTLIST conclusion style NMTOKEN #IMPLIED >
<!ATTLIST conclusion mid CDATA #IMPLIED >
<!ELEMENT axiom ((metadata)?, (symbol)*, (CMP)*, (FMP)*) >
<!ATTLIST axiom id CDATA #REQUIRED >
<!ATTLIST axiom style NMTOKEN #IMPLIED >
<!ATTLIST axiom mid CDATA #IMPLIED >
<!ATTLIST axiom generated-by CDATA #IMPLIED >
<!ELEMENT definition ((metadata)?, (CMP)*, (FMP)*, ((requation)+ | OMOBJ)?, (measure)?, (ordering)?) >
<!ATTLIST definition just-by CDATA #IMPLIED >
<!ATTLIST definition type (simple | inductive | implicit | recursive | obj) "simple" >
<!ATTLIST definition generated-by CDATA #IMPLIED >
<!ATTLIST definition id CDATA #REQUIRED >
<!ATTLIST definition style NMTOKEN #IMPLIED >
<!ATTLIST definition mid CDATA #IMPLIED >
<!ATTLIST definition for CDATA #REQUIRED >
<!ELEMENT requation (pattern, value) >
<!ATTLIST requation id CDATA #IMPLIED >
<!ATTLIST requation style NMTOKEN #IMPLIED >
<!ATTLIST requation mid CDATA #IMPLIED >
<!ELEMENT pattern (OMOBJ) >
<!ELEMENT value (OMOBJ) >
<!ELEMENT measure (OMOBJ) >
<!ATTLIST measure mid CDATA #IMPLIED >
<!ELEMENT ordering (OMOBJ) >
<!ATTLIST ordering mid CDATA #IMPLIED >
<!ELEMENT adt ((metadata)?, (commonname)*, (CMP)*, (sortdef)+) >
<!ATTLIST adt type (loose | generated | free) "loose" >
<!ATTLIST adt id CDATA #REQUIRED >
<!ATTLIST adt style NMTOKEN #IMPLIED >
<!ATTLIST adt mid CDATA #IMPLIED >
<!ELEMENT sortdef ((commonname)*, (constructor | insort)*, (recognizer)?) >
<!ATTLIST sortdef id CDATA #REQUIRED >
<!ATTLIST sortdef style NMTOKEN #IMPLIED >
<!ATTLIST sortdef mid CDATA #IMPLIED >
<!ATTLIST sortdef scope (global | local) "global" >
<!ELEMENT insort EMPTY >
<!ATTLIST insort for CDATA #REQUIRED >
<!ELEMENT constructor ((commonname)*, (argument)*) >
<!ATTLIST constructor id CDATA #REQUIRED >
<!ATTLIST constructor style NMTOKEN #IMPLIED >
<!ATTLIST constructor mid CDATA #IMPLIED >
<!ATTLIST constructor kind (type | sort | object) "object" >
<!ATTLIST constructor scope (global | local) "global" >
<!ELEMENT recognizer (commonname)* >
<!ATTLIST recognizer id CDATA #REQUIRED >
<!ATTLIST recognizer style NMTOKEN #IMPLIED >
<!ATTLIST recognizer mid CDATA #IMPLIED >
<!ATTLIST recognizer kind (type | sort | object) "object" >
<!ATTLIST recognizer scope (global | local) "global" >
<!ELEMENT argument ((selector)?) >
<!ATTLIST argument sort CDATA #REQUIRED >
<!ELEMENT selector (commonname)* >
<!ATTLIST selector id CDATA #REQUIRED >
<!ATTLIST selector style NMTOKEN #IMPLIED >
<!ATTLIST selector mid CDATA #IMPLIED >
<!ATTLIST selector kind (type | sort | object) "object" >
<!ATTLIST selector scope (global | local) "global" >
<!ATTLIST selector total (yes | no) "no" >
<!ELEMENT assertion ((metadata)?, (symbol)*, (CMP)*, (FMP)*) >
<!ATTLIST assertion id CDATA #REQUIRED >
<!ATTLIST assertion style NMTOKEN #IMPLIED >
<!ATTLIST assertion mid CDATA #IMPLIED >
<!ATTLIST assertion generated-by CDATA #IMPLIED >
<!ATTLIST assertion theory CDATA #IMPLIED >
<!ATTLIST assertion type (theorem | lemma | corollary | conjecture | false-conjecture | obligation | postulate | formula | assumption | proposition) "conjecture" >
<!ATTLIST assertion proofs CDATA #IMPLIED >
<!ELEMENT alternative ((metadata)?, (CMP)*, (FMP | (requation)* | OMOBJ)) >
<!ATTLIST alternative theory CDATA #REQUIRED >
<!ATTLIST alternative type (simple | inductive | implicit | recursive | obj) "simple" >
<!ATTLIST alternative generated-by CDATA #IMPLIED >
<!ATTLIST alternative just-by CDATA #IMPLIED >
<!ATTLIST alternative entailed-by CDATA #REQUIRED >
<!ATTLIST alternative entails CDATA #REQUIRED >
<!ATTLIST alternative entailed-by-thm CDATA #REQUIRED >
<!ATTLIST alternative entails-thm CDATA #REQUIRED >
<!ATTLIST alternative id CDATA #REQUIRED >
<!ATTLIST alternative style NMTOKEN #IMPLIED >
<!ATTLIST alternative mid CDATA #IMPLIED >
<!ATTLIST alternative for CDATA #REQUIRED >
<!ELEMENT proof ((metadata)?, (symbol)*, (CMP)*, (metacomment | derive | hypothesis)*, conclude) >
<!ATTLIST proof theory CDATA #IMPLIED >
<!ATTLIST proof id CDATA #REQUIRED >
<!ATTLIST proof style NMTOKEN #IMPLIED >
<!ATTLIST proof mid CDATA #IMPLIED >
<!ATTLIST proof for CDATA #REQUIRED >
<!ELEMENT proofobject ((metadata)?, (CMP)*, OMOBJ) >
<!ATTLIST proofobject theory CDATA #IMPLIED >
<!ATTLIST proofobject id CDATA #REQUIRED >
<!ATTLIST proofobject style NMTOKEN #IMPLIED >
<!ATTLIST proofobject mid CDATA #IMPLIED >
<!ATTLIST proofobject for CDATA #REQUIRED >
<!ELEMENT metacomment ((CMP)*) >
<!ATTLIST metacomment id CDATA #IMPLIED >
<!ATTLIST metacomment style NMTOKEN #IMPLIED >
<!ATTLIST metacomment mid CDATA #IMPLIED >
<!ELEMENT derive ((CMP)*, (FMP)?, (method)?, (premise)*, (proof | proofobject)?) >
<!ATTLIST derive id CDATA #REQUIRED >
<!ATTLIST derive style NMTOKEN #IMPLIED >
<!ATTLIST derive mid CDATA #IMPLIED >
<!ELEMENT conclude ((CMP)*, (method)?, (premise)*, (proof | proofobject)?) >
<!ATTLIST conclude id CDATA #IMPLIED >
<!ATTLIST conclude style NMTOKEN #IMPLIED >
<!ATTLIST conclude mid CDATA #IMPLIED >
<!ELEMENT hypothesis ((symbol)*, (CMP)*, (FMP)?) >
<!ATTLIST hypothesis id CDATA #REQUIRED >
<!ATTLIST hypothesis style NMTOKEN #IMPLIED >
<!ATTLIST hypothesis mid CDATA #IMPLIED >
<!ATTLIST hypothesis discharged-in CDATA #REQUIRED >
<!ELEMENT method ((OMOBJ)*) >
<!ATTLIST method xref CDATA #REQUIRED >
<!ELEMENT premise EMPTY >
<!ATTLIST premise xref CDATA #REQUIRED >
<!ATTLIST premise rank CDATA "0" >
<!ELEMENT example ((metadata)?, (symbol)*, (CMP)*, (OMOBJ)*) >
<!ATTLIST example type (for | against) #IMPLIED >
<!ATTLIST example assertion CDATA #IMPLIED >
<!ATTLIST example id CDATA #REQUIRED >
<!ATTLIST example style NMTOKEN #IMPLIED >
<!ATTLIST example mid CDATA #IMPLIED >
<!ATTLIST example for CDATA #REQUIRED >
<!ELEMENT theory ((metadata)?, (commonname)*, (CMP)*, (symbol | axiom | definition | adt | imports | inclusion | omtext | type | assertion | alternative | example | proof | proofobject | exercise | solution | omlet | private | code | presentation | omstyle | theory | omgroup | ignore | ref)*) >
<!ATTLIST theory id ID #REQUIRED >
<!ATTLIST theory style NMTOKEN #IMPLIED >
<!ELEMENT imports ((CMP)*, (morphism)?) >
<!ATTLIST imports id CDATA #REQUIRED >
<!ATTLIST imports style NMTOKEN #IMPLIED >
<!ATTLIST imports mid CDATA #IMPLIED >
<!ATTLIST imports from CDATA #REQUIRED >
<!ATTLIST imports hiding CDATA #IMPLIED >
<!ATTLIST imports type (local | global) "global" >
<!ELEMENT morphism ((requation)*) >
<!ATTLIST morphism id CDATA #IMPLIED >
<!ATTLIST morphism style NMTOKEN #IMPLIED >
<!ATTLIST morphism mid CDATA #IMPLIED >
<!ATTLIST morphism base CDATA #IMPLIED >
<!ELEMENT inclusion EMPTY >
<!ATTLIST inclusion via CDATA #REQUIRED >
<!ATTLIST inclusion mid CDATA #IMPLIED >
<!ELEMENT theory-inclusion (((metadata)?, (symbol)*, (CMP)*, (FMP)*), (morphism)?) >
<!ATTLIST theory-inclusion id CDATA #REQUIRED >
<!ATTLIST theory-inclusion style NMTOKEN #IMPLIED >
<!ATTLIST theory-inclusion mid CDATA #IMPLIED >
<!ATTLIST theory-inclusion from CDATA #REQUIRED >
<!ATTLIST theory-inclusion to CDATA #REQUIRED >
<!ELEMENT decomposition EMPTY >
<!ATTLIST decomposition id CDATA #REQUIRED >
<!ATTLIST decomposition style NMTOKEN #IMPLIED >
<!ATTLIST decomposition mid CDATA #IMPLIED >
<!ATTLIST decomposition for CDATA #REQUIRED >
<!ATTLIST decomposition links CDATA #REQUIRED >
<!ELEMENT axiom-inclusion (((metadata)?, (symbol)*, (CMP)*, (FMP)*), (morphism)?, (path-just | (obligation)*)) >
<!ATTLIST axiom-inclusion id CDATA #REQUIRED >
<!ATTLIST axiom-inclusion style NMTOKEN #IMPLIED >
<!ATTLIST axiom-inclusion mid CDATA #IMPLIED >
<!ATTLIST axiom-inclusion from CDATA #REQUIRED >
<!ATTLIST axiom-inclusion to CDATA #REQUIRED >
<!ELEMENT path-just EMPTY >
<!ATTLIST path-just local CDATA #REQUIRED >
<!ATTLIST path-just globals CDATA #REQUIRED >
<!ATTLIST path-just mid CDATA #IMPLIED >
<!ELEMENT obligation EMPTY >
<!ATTLIST obligation induced-by CDATA #REQUIRED >
<!ATTLIST obligation assertion CDATA #REQUIRED >
<!ATTLIST obligation mid CDATA #IMPLIED >
<!ELEMENT exercise (((metadata)?, (symbol)*, (CMP)*, (FMP)*), (hint)?, ((solution)* | (mc)*)) >
<!ATTLIST exercise id CDATA #REQUIRED >
<!ATTLIST exercise style NMTOKEN #IMPLIED >
<!ATTLIST exercise mid CDATA #IMPLIED >
<!ATTLIST exercise for CDATA #IMPLIED >
<!ELEMENT hint ((metadata)?, (symbol)*, (CMP)*, (FMP)*) >
<!ATTLIST hint id CDATA #IMPLIED >
<!ATTLIST hint style NMTOKEN #IMPLIED >
<!ATTLIST hint mid CDATA #IMPLIED >
<!ELEMENT solution (((metadata)?, (symbol)*, (CMP)*, (FMP)*), (proof | proofobject)?) >
<!ATTLIST solution for CDATA #IMPLIED >
<!ATTLIST solution id CDATA #IMPLIED >
<!ATTLIST solution style NMTOKEN #IMPLIED >
<!ATTLIST solution mid CDATA #IMPLIED >
<!ELEMENT mc ((symbol)*, choice, (hint)?, answer) >
<!ATTLIST mc id CDATA #IMPLIED >
<!ATTLIST mc style NMTOKEN #IMPLIED >
<!ATTLIST mc mid CDATA #IMPLIED >
<!ELEMENT choice ((metadata)?, (symbol)*, (CMP)*, (FMP)*) >
<!ATTLIST choice id CDATA #IMPLIED >
<!ATTLIST choice style NMTOKEN #IMPLIED >
<!ATTLIST choice mid CDATA #IMPLIED >
<!ELEMENT answer ((metadata)?, (symbol)*, (CMP)*, (FMP)*) >
<!ATTLIST answer verdict (true | false) #REQUIRED >
<!ATTLIST answer id CDATA #IMPLIED >
<!ATTLIST answer style NMTOKEN #IMPLIED >
<!ATTLIST answer mid CDATA #IMPLIED >
<!ELEMENT omlet (#PCDATA | OMOBJ | omlet | with | ref | ignore)* >
<!ATTLIST omlet id CDATA #IMPLIED >
<!ATTLIST omlet style NMTOKEN #IMPLIED >
<!ATTLIST omlet mid CDATA #IMPLIED >
<!ATTLIST omlet action NMTOKEN #IMPLIED >
<!ATTLIST omlet type NMTOKEN #IMPLIED >
<!ATTLIST omlet data CDATA #IMPLIED >
<!ATTLIST omlet argstr CDATA #IMPLIED >
<!ATTLIST omlet function CDATA #IMPLIED >
<!ATTLIST omlet width CDATA #IMPLIED >
<!ATTLIST omlet height CDATA #IMPLIED >
<!ATTLIST omlet xmlns CDATA #FIXED "http://www.mathweb.org/omdoc" >
<!ATTLIST omlet xmlns:xsi CDATA "http://www.w3.org/2001/XMLSchema-instance" >
<!ATTLIST omlet xsi:schemaLocation CDATA "http://www.mathweb.org/omdoc/xsd/omdoc.xsd" >
<!ELEMENT private ((metadata)?, (data)+) >
<!ATTLIST private id CDATA #REQUIRED >
<!ATTLIST private style NMTOKEN #IMPLIED >
<!ATTLIST private mid CDATA #IMPLIED >
<!ATTLIST private for CDATA #IMPLIED >
<!ATTLIST private theory CDATA #IMPLIED >
<!ATTLIST private pto NMTOKENS #IMPLIED >
<!ATTLIST private pto-version NMTOKENS #IMPLIED >
<!ATTLIST private type NMTOKEN #IMPLIED >
<!ATTLIST private requires CDATA #IMPLIED >
<!ATTLIST private replaces CDATA #IMPLIED >
<!ELEMENT code ((metadata)?, (data)+, (input)?, (output)?, (effect)?) >
<!ATTLIST code id CDATA #REQUIRED >
<!ATTLIST code style NMTOKEN #IMPLIED >
<!ATTLIST code mid CDATA #IMPLIED >
<!ATTLIST code for CDATA #IMPLIED >
<!ATTLIST code theory CDATA #IMPLIED >
<!ATTLIST code pto NMTOKENS #IMPLIED >
<!ATTLIST code pto-version NMTOKENS #IMPLIED >
<!ATTLIST code type NMTOKEN #IMPLIED >
<!ATTLIST code requires CDATA #IMPLIED >
<!ATTLIST code classid CDATA #IMPLIED >
<!ATTLIST code codebase CDATA #IMPLIED >
<!ELEMENT input ((CMP)*, (FMP)*) >
<!ATTLIST input mid CDATA #IMPLIED >
<!ELEMENT output ((CMP)*, (FMP)*) >
<!ATTLIST output mid CDATA #IMPLIED >
<!ELEMENT effect ((CMP)*, (FMP)*) >
<!ATTLIST effect mid CDATA #IMPLIED >
<!ELEMENT data ANY >
<!ATTLIST data mid CDATA #IMPLIED >
<!ATTLIST data format CDATA #IMPLIED >
<!ATTLIST data href CDATA #IMPLIED >
<!ATTLIST data size CDATA #IMPLIED >
<!ELEMENT ignore ANY >
<!ATTLIST ignore type NMTOKEN #IMPLIED >
<!ATTLIST ignore comment CDATA #IMPLIED >
<!ELEMENT presentation (use | xslt | style)* >
<!ATTLIST presentation id CDATA #IMPLIED >
<!ATTLIST presentation style NMTOKEN #IMPLIED >
<!ATTLIST presentation mid CDATA #IMPLIED >
<!ATTLIST presentation xref CDATA #IMPLIED >
<!ATTLIST presentation for CDATA #REQUIRED >
<!ATTLIST presentation parent (OMA | OMBIND | OMATTR) #IMPLIED >
<!ATTLIST presentation fixity (prefix | infix | postfix | assoc) "prefix" >
<!ATTLIST presentation lbrack CDATA "(" >
<!ATTLIST presentation rbrack CDATA ")" >
<!ATTLIST presentation separator CDATA "," >
<!ATTLIST presentation bracket-style (lisp | math) "math" >
<!ATTLIST presentation precedence NMTOKEN "1000" >
<!ATTLIST presentation crossref-symbol (no | yes | brackets | separator | lbrack | rbrack | all) "yes" >
<!ATTLIST presentation theory CDATA #IMPLIED >
<!ELEMENT use (#PCDATA) >
<!ATTLIST use format CDATA #REQUIRED >
<!ATTLIST use requires CDATA #IMPLIED >
<!ATTLIST use xml:lang CDATA #IMPLIED >
<!ATTLIST use bracket-style (lisp | math) #IMPLIED >
<!ATTLIST use fixity (prefix | infix | postfix | assoc) #IMPLIED >
<!ATTLIST use lbrack CDATA #IMPLIED >
<!ATTLIST use rbrack CDATA #IMPLIED >
<!ATTLIST use larg-group CDATA #IMPLIED >
<!ATTLIST use rarg-group CDATA #IMPLIED >
<!ATTLIST use separator CDATA #IMPLIED >
<!ATTLIST use element CDATA #IMPLIED >
<!ATTLIST use attributes CDATA #IMPLIED >
<!ATTLIST use crossref-symbol (no | yes | brackets | separator | lbrack | rbrack | all) #IMPLIED >
<!ELEMENT omstyle (xslt | style)* >
<!ATTLIST omstyle id CDATA #IMPLIED >
<!ATTLIST omstyle style NMTOKEN #IMPLIED >
<!ATTLIST omstyle mid CDATA #IMPLIED >
<!ATTLIST omstyle xref CDATA #IMPLIED >
<!ATTLIST omstyle for CDATA #IMPLIED >
<!ATTLIST omstyle element CDATA #REQUIRED >
<!ELEMENT xslt (#PCDATA) >
<!ATTLIST xslt format CDATA #REQUIRED >
<!ATTLIST xslt requires CDATA #IMPLIED >
<!ATTLIST xslt xml:lang CDATA #IMPLIED >
<!ELEMENT style (element | text | recurse | value-of)* >
<!ATTLIST style format CDATA #REQUIRED >
<!ATTLIST style requires CDATA #IMPLIED >
<!ATTLIST style xml:lang CDATA #IMPLIED >
<!ELEMENT element (attribute | element | text | recurse | value-of)* >
<!ATTLIST element name NMTOKEN #REQUIRED >
<!ELEMENT attribute (#PCDATA | value-of | text)* >
<!ATTLIST attribute name NMTOKEN #REQUIRED >
<!ELEMENT text (#PCDATA) >
<!ELEMENT value-of EMPTY >
<!ATTLIST value-of select CDATA #REQUIRED >
<!ELEMENT recurse EMPTY >
<!ATTLIST recurse select CDATA #IMPLIED >
<!ELEMENT OMS EMPTY >
<!ATTLIST OMS name CDATA #REQUIRED >
<!ATTLIST OMS cd CDATA #REQUIRED >
<!ATTLIST OMS style NMTOKEN #IMPLIED >
<!ELEMENT OMV EMPTY >
<!ATTLIST OMV name CDATA #REQUIRED >
<!ATTLIST OMV style NMTOKEN #IMPLIED >
<!ELEMENT OMI (#PCDATA) >
<!ATTLIST OMI mid CDATA #IMPLIED >
<!ATTLIST OMI style NMTOKEN #IMPLIED >
<!ATTLIST OMI id ID #IMPLIED >
<!ATTLIST OMI xref IDREF #IMPLIED >
<!ELEMENT OMB (#PCDATA) >
<!ATTLIST OMB mid CDATA #IMPLIED >
<!ATTLIST OMB style NMTOKEN #IMPLIED >
<!ATTLIST OMB id ID #IMPLIED >
<!ATTLIST OMB xref IDREF #IMPLIED >
<!ELEMENT OMSTR (#PCDATA) >
<!ATTLIST OMSTR mid CDATA #IMPLIED >
<!ATTLIST OMSTR style NMTOKEN #IMPLIED >
<!ATTLIST OMSTR id ID #IMPLIED >
<!ATTLIST OMSTR xref IDREF #IMPLIED >
<!ELEMENT OMF EMPTY >
<!ATTLIST OMF dec CDATA #IMPLIED >
<!ATTLIST OMF hex CDATA #IMPLIED >
<!ATTLIST OMF mid CDATA #IMPLIED >
<!ATTLIST OMF style NMTOKEN #IMPLIED >
<!ATTLIST OMF id ID #IMPLIED >
<!ATTLIST OMF xref IDREF #IMPLIED >
<!ELEMENT OMA (OMS | OMV | OMI | OMB | OMSTR | OMF | OMA | OMBIND | OME | OMATTR)* >
<!ATTLIST OMA mid CDATA #IMPLIED >
<!ATTLIST OMA style NMTOKEN #IMPLIED >
<!ATTLIST OMA id ID #IMPLIED >
<!ATTLIST OMA xref IDREF #IMPLIED >
<!ELEMENT OMBIND ((OMS | OMV | OMI | OMB | OMSTR | OMF | OMA | OMBIND | OME | OMATTR), OMBVAR, (OMS | OMV | OMI | OMB | OMSTR | OMF | OMA | OMBIND | OME | OMATTR))? >
<!ATTLIST OMBIND mid CDATA #IMPLIED >
<!ATTLIST OMBIND style NMTOKEN #IMPLIED >
<!ATTLIST OMBIND id ID #IMPLIED >
<!ATTLIST OMBIND xref IDREF #IMPLIED >
<!ELEMENT OMBVAR (OMV | OMATTR)+ >
<!ELEMENT OME (OMS, (OMS | OMV | OMI | OMB | OMSTR | OMF | OMA | OMBIND | OME | OMATTR)*) >
<!ELEMENT OMATTR (OMATP, (OMS | OMV | OMI | OMB | OMSTR | OMF | OMA | OMBIND | OME | OMATTR))? >
<!ATTLIST OMATTR mid CDATA #IMPLIED >
<!ATTLIST OMATTR style NMTOKEN #IMPLIED >
<!ATTLIST OMATTR id ID #IMPLIED >
<!ATTLIST OMATTR xref IDREF #IMPLIED >
<!ELEMENT OMATP (OMS, (OMS | OMV | OMI | OMB | OMSTR | OMF | OMA | OMBIND | OME | OMATTR))+ >
<!ELEMENT OMOBJ (OMS | OMV | OMI | OMB | OMSTR | OMF | OMA | OMBIND | OME | OMATTR)? >
<!ATTLIST OMOBJ xmlns CDATA #FIXED "http://www.openmath.org/OpenMath" >
<!ATTLIST OMOBJ mid CDATA #IMPLIED >
<!ATTLIST OMOBJ style NMTOKEN #IMPLIED >
<!ATTLIST OMOBJ id ID #IMPLIED >
<!ATTLIST OMOBJ xref IDREF #IMPLIED >
<!ELEMENT metadata ((Contributor | Creator | Subject | Title | Description | Publisher | Date | Type | Format | Identifier | Source | Language | Relation | Rights)*, (extradata)?) >
<!ATTLIST metadata id CDATA #IMPLIED >
<!ATTLIST metadata style NMTOKEN #IMPLIED >
<!ATTLIST metadata mid CDATA #IMPLIED >
<!ATTLIST metadata inherits CDATA #IMPLIED >
<!ELEMENT Contributor (#PCDATA) >
<!ATTLIST Contributor xmlns CDATA #FIXED "http://purl.org/DC" >
<!ATTLIST Contributor id CDATA #IMPLIED >
<!ATTLIST Contributor style NMTOKEN #IMPLIED >
<!ATTLIST Contributor mid CDATA #IMPLIED >
<!ATTLIST Contributor xml:lang (aa | ab | af | am | ar | as | ay | az | ba | be | bg | bh | bi | bn | bo | br | ca | co | cs | cy | da | de | dz | el | en | eo | es | et | eu | fa | fi | fj | fo | fr | fy | ga | gd | gl | gn | gu | ha | he | hi | hr | hu | hy | ia | ie | ik | id | is | it | iu | ja | jv | ka | kk | kl | km | kn | ko | ks | ku | ky | la | ln | lo | lt | lv | mg | mi | mk | ml | mn | mo | mr | ms | mt | my | na | ne | nl | no | oc | om | or | pa | pl | ps | pt | qu | rm | rn | ro | ru | rw | sa | sd | sg | sh | si | sk | sl | sm | sn | so | sq | sr | ss | st | su | sv | sw | ta | te | tg | th | ti | tk | tl | tn | to | tr | ts | tt | tw | ug | uk | ur | uz | vi | vo | wo | xh | yi | yo | za | zh | zu) "en" >
<!ATTLIST Contributor role (aut | ant | clb | edt | ths | trc | trl) "aut" >
<!ELEMENT Creator (#PCDATA) >
<!ATTLIST Creator xmlns CDATA #FIXED "http://purl.org/DC" >
<!ATTLIST Creator id CDATA #IMPLIED >
<!ATTLIST Creator style NMTOKEN #IMPLIED >
<!ATTLIST Creator mid CDATA #IMPLIED >
<!ATTLIST Creator xml:lang (aa | ab | af | am | ar | as | ay | az | ba | be | bg | bh | bi | bn | bo | br | ca | co | cs | cy | da | de | dz | el | en | eo | es | et | eu | fa | fi | fj | fo | fr | fy | ga | gd | gl | gn | gu | ha | he | hi | hr | hu | hy | ia | ie | ik | id | is | it | iu | ja | jv | ka | kk | kl | km | kn | ko | ks | ku | ky | la | ln | lo | lt | lv | mg | mi | mk | ml | mn | mo | mr | ms | mt | my | na | ne | nl | no | oc | om | or | pa | pl | ps | pt | qu | rm | rn | ro | ru | rw | sa | sd | sg | sh | si | sk | sl | sm | sn | so | sq | sr | ss | st | su | sv | sw | ta | te | tg | th | ti | tk | tl | tn | to | tr | ts | tt | tw | ug | uk | ur | uz | vi | vo | wo | xh | yi | yo | za | zh | zu) "en" >
<!ATTLIST Creator role (aut | ant | clb | edt | ths | trc | trl) "aut" >
<!ELEMENT Title (#PCDATA | OMOBJ | omlet | with | ref | ignore)* >
<!ATTLIST Title xmlns CDATA #FIXED "http://purl.org/DC" >
<!ATTLIST Title xml:lang (aa | ab | af | am | ar | as | ay | az | ba | be | bg | bh | bi | bn | bo | br | ca | co | cs | cy | da | de | dz | el | en | eo | es | et | eu | fa | fi | fj | fo | fr | fy | ga | gd | gl | gn | gu | ha | he | hi | hr | hu | hy | ia | ie | ik | id | is | it | iu | ja | jv | ka | kk | kl | km | kn | ko | ks | ku | ky | la | ln | lo | lt | lv | mg | mi | mk | ml | mn | mo | mr | ms | mt | my | na | ne | nl | no | oc | om | or | pa | pl | ps | pt | qu | rm | rn | ro | ru | rw | sa | sd | sg | sh | si | sk | sl | sm | sn | so | sq | sr | ss | st | su | sv | sw | ta | te | tg | th | ti | tk | tl | tn | to | tr | ts | tt | tw | ug | uk | ur | uz | vi | vo | wo | xh | yi | yo | za | zh | zu) "en" >
<!ELEMENT Subject (#PCDATA | OMOBJ | omlet | with | ref | ignore)* >
<!ATTLIST Subject xmlns CDATA #FIXED "http://purl.org/DC" >
<!ATTLIST Subject xml:lang (aa | ab | af | am | ar | as | ay | az | ba | be | bg | bh | bi | bn | bo | br | ca | co | cs | cy | da | de | dz | el | en | eo | es | et | eu | fa | fi | fj | fo | fr | fy | ga | gd | gl | gn | gu | ha | he | hi | hr | hu | hy | ia | ie | ik | id | is | it | iu | ja | jv | ka | kk | kl | km | kn | ko | ks | ku | ky | la | ln | lo | lt | lv | mg | mi | mk | ml | mn | mo | mr | ms | mt | my | na | ne | nl | no | oc | om | or | pa | pl | ps | pt | qu | rm | rn | ro | ru | rw | sa | sd | sg | sh | si | sk | sl | sm | sn | so | sq | sr | ss | st | su | sv | sw | ta | te | tg | th | ti | tk | tl | tn | to | tr | ts | tt | tw | ug | uk | ur | uz | vi | vo | wo | xh | yi | yo | za | zh | zu) "en" >
<!ELEMENT Description (#PCDATA | OMOBJ | omlet | with | ref | ignore)* >
<!ATTLIST Description xmlns CDATA #FIXED "http://purl.org/DC" >
<!ATTLIST Description xml:lang (aa | ab | af | am | ar | as | ay | az | ba | be | bg | bh | bi | bn | bo | br | ca | co | cs | cy | da | de | dz | el | en | eo | es | et | eu | fa | fi | fj | fo | fr | fy | ga | gd | gl | gn | gu | ha | he | hi | hr | hu | hy | ia | ie | ik | id | is | it | iu | ja | jv | ka | kk | kl | km | kn | ko | ks | ku | ky | la | ln | lo | lt | lv | mg | mi | mk | ml | mn | mo | mr | ms | mt | my | na | ne | nl | no | oc | om | or | pa | pl | ps | pt | qu | rm | rn | ro | ru | rw | sa | sd | sg | sh | si | sk | sl | sm | sn | so | sq | sr | ss | st | su | sv | sw | ta | te | tg | th | ti | tk | tl | tn | to | tr | ts | tt | tw | ug | uk | ur | uz | vi | vo | wo | xh | yi | yo | za | zh | zu) "en" >
<!ELEMENT Publisher ANY >
<!ATTLIST Publisher xmlns CDATA #FIXED "http://purl.org/DC" >
<!ATTLIST Publisher id CDATA #IMPLIED >
<!ATTLIST Publisher style NMTOKEN #IMPLIED >
<!ATTLIST Publisher mid CDATA #IMPLIED >
<!ELEMENT Type ANY >
<!ATTLIST Type xmlns CDATA #FIXED "http://purl.org/DC" >
<!ELEMENT Format ANY >
<!ATTLIST Format xmlns CDATA #FIXED "http://purl.org/DC" >
<!ELEMENT Source ANY >
<!ATTLIST Source xmlns CDATA #FIXED "http://purl.org/DC" >
<!ELEMENT Language ANY >
<!ATTLIST Language xmlns CDATA #FIXED "http://purl.org/DC" >
<!ELEMENT Relation ANY >
<!ATTLIST Relation xmlns CDATA #FIXED "http://purl.org/DC" >
<!ELEMENT Rights ANY >
<!ATTLIST Rights xmlns CDATA #FIXED "http://purl.org/DC" >
<!ELEMENT Date (#PCDATA) >
<!ATTLIST Date xmlns CDATA #FIXED "http://purl.org/DC" >
<!ATTLIST Date action NMTOKEN #IMPLIED >
<!ATTLIST Date who IDREF #IMPLIED >
<!ELEMENT Identifier (#PCDATA) >
<!ATTLIST Identifier xmlns CDATA #FIXED "http://purl.org/DC" >
<!ATTLIST Identifier scheme NMTOKEN "ISBN" >
<!ELEMENT extradata EMPTY >
]>
<omdoc id="test"></omdoc>
